<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">

    <!-- Title Page-->
    <title>Ubiwhere Challenge</title>

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

</head>

<body>

    <div class="content">
        <h3> Ubiwhere Challenge </h3>

        {% block content %}
        <!-- Here will go everythin that's inherited from base.html -->
        {% endblock content %}
    </div>

</body>

</html>
<!-- end document-->